<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $.ajax({url: "http://localhost:8070/library/bookNameList/Fiction", success: function(result){
        	var dataTable="<table>"
            	for(var i=0;i<result.length;i++){
            		dataTable+="<tr>"
            	
            		dataTable+="<td>" +result[i].category+"</id>";
            		dataTable+="</tr>"
            	}
            	dataTable+="</table>"
                $("#div1").html(dataTable);
        }});
    });
});
</script>
</head>
<body>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button>Get External</button>

</body>
</html>
